/* Slider */
.imgAndTextContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.imgAndTextContainer img {
    max-width: 100%;
}

.textContainer {
    background-color: #2c333c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%;
}

.carousel-control-prev {
    left: -150px;
}

.carousel-control-next {
    right: -150px;
}

.imgDescription {
    left: 0em;
    margin: 0;
    padding: 0.25em 0 0 0.5em;
    position: absolute;
    top: 0;
}

.imgDescription li {
    font-size: 15px !important;
}

.weight {
    font-weight: 900;
}

@media all and (max-width: 1100px) {
    .carousel-control-prev {
        left: -100px;
    }
    
    .carousel-control-next {
        right: -100px;
    }

    .imgDescription li {
        font-size: 10px !important;
    }
}

@media all and (max-width: 825px) {
    .carousel-control-prev {
        left: -70px;
    }
    
    .carousel-control-next {
        right: -70px;
    }
}

@media all and (max-width: 600px) {
    .carousel-control-prev {
        left: -20px;
    }
    
    .carousel-control-next {
        right: -20px;
    }
}