/* Styles */
:root {
    --dark: #141922;
    --dark-gray-1: #1B202A;
    --gray-1: #272a34;
    --gray-2: #2c333c;  
    --gray-3: #262a35;
    --gray-4: #3a424e;
    --light-gray: #A9B5CC;
    --light-green: #46C351;
}

* {
    color: var(--light-gray) !important;
    list-style-type: none !important;
}

.weightLetter {
    font-weight: 700;
}

/* Layouts  */
body {
    margin: 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* Header */
.headerAndFooter {
    padding: 1em 0;
    background-color: var(--dark);
    margin: 0;
}

.navbarContainer {
    display: flex;
    align-items: center;
}

.titleContainer {
    display: flex;
}

.titleContainer:hover {
    cursor: pointer;
}

.navbarTitle1 {
    font-weight: 700;
    margin: 0;
} 

.navbarTitle2 {
    font-weight: 400;
    margin: 0;
}

.navbar {
    width: 100%;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0 0 0 3em;
    width: 100%;
}

.navbar li {
    font-weight: 400;
    list-style-type: none;
    margin-right: 3em;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {    
    color: var(--light-green) !important;
    transition: 0.5s;
}

.navbar img {
    float: left;
    height: auto;
    margin: 0 0.25em 0 0;
    width: 20px;
}

.positionCart {
    position: absolute;
    right: -3.5%;
}

.iconCart {
    height: auto;
    width: 25px !important;
}

/* Main content */
.mainContent {
    background-color: var(--dark-gray-1);
    min-height: 100vh;
}

 .detailsContainer {
    background-color: var(--gray-2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 300px !important;
    padding: 1em;    
    max-width: 300px !important;
    width: fit-content;
}

.detailsContainer p {
    margin: 0 0 0.5em 0;
}

.titleContainer {
    display: flex;
}

.textContainer {    
    max-width: 300px;
}

.detailsContainerTitle1 {
    font-weight: 700;
}

.detailsContainerTitle2 {
    font-weight: 400;
}

.purchaseContainer {
    align-items: center;
    background-color: var(--gray-1);
    border: 2px solid var(--dark);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.priceContainer {
    text-align: center;
}

.priceContainer h2 {
    font-weight: 700;
    margin: 0 0.5em 0 0;
    size: 10px !important;    
    text-align: center;    
}

.priceContainer h6 {
    size: 13px;
    font-weight: 400;
    margin: 0;
    max-width: 200px;
    width: fit-content;
}

.purchaseBtn, .checkoutBtn {
    background-color: var(--light-green);
    border-radius: 5px;
    border: 0;
    color: white !important;
    padding: 0.25em 0.5em;
    width: fit-content;
    height: fit-content;
    border: 2.5px solid var(--light-green);
}

.purchaseBtn:hover, .checkoutBtn:hover {
    background-color: var(--dark);
    color: var(--light-green)  !important;
    cursor: pointer;
    transition: 0.5s;
} 

/* Slider */
.imgAndTextContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.imgAndTextContainer img {
    max-width: 100%;
}

.textContainer {
    background-color: var(--gray-2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%;
}

.carousel-control-prev {
    left: -150px;
}

.carousel-control-next {
    right: -150px;
}

.imgDescription {
    left: 0em;
    margin: 0;
    padding: 0.25em 0 0 0.5em;
    position: absolute;
    top: 0;
}

.weight {
    font-weight: 900;
}

/* Enjoy container */
.enjoyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    width: 100%;
}

.enjoyIcons {
    width: 75px;
}

figcaption {
    display: flex;
    justify-content: center;
}

.enjoyContainer figure {
    width: fit-content;
    text-align: center;
}

.smallEnjoyContainer {
    background-color: var(--gray-3);
    border: 2px solid var(--gray-3);
    border-radius: 3px;
    text-align: center;
    padding: 1em 3em;
    width: fit-content;
}

.arrow:hover, .enjoyIcons:hover, .smallEnjoyContainer:hover {
    cursor: pointer;
}

.smallEnjoyContainer:hover {   
    background-color: var(--dark); 
    border: 2px solid var(--light-green);
    transition: 1s;
}

.smallEnjoyContainer:hover > * {    
    color:var(--light-green) !important;
    transition: 1s;
}

.enjoyBig {
    font-weight: 700;
    margin: 0;
}

.enjoySmall {
    font-weight: 300;
    margin: 0;
}

/* Pfl */
.pflContainer {
    max-width: 700px;
    margin-bottom: 5em;
}

.pflTitle {
    display: flex;
}

.hr {
    height: 1px;
    width: 70%;
    background-color: var(--gray-4);
}

/* Footer */
.footerP {
    font-weight: 300;
    max-width: 348px;
}

.footerSize {
    max-height: 294px;
    padding: 35px 0 80px 0;
    width: 100%;
}

@media all and (min-width: 1150px) {
    .textContainer {
        width: 300px;
    }

    .purchaseContainer {
        bottom: 1em;
        right: 1em;
        position: absolute;
    }
}

@media all and (max-width: 1400px) {
    .detailsContainer p {
        margin: 0 0 0.5em 0;
        height: fit-content;
    }
    
    .purchaseContainer {
        padding: 0.25em;
    }

    .priceContainer h2 {
        font-weight: 700;
        margin: 0 0.5em 0 0;   
        text-align: center;    
    }
    
    .priceContainer h6 {
        size: 13px;
        font-weight: 400;
        margin: 0;
        max-width: 200px;
        width: fit-content;
    }
    
    .purchaseBtn {
        background-color: var(--light-green);
        border-radius: 5px;
        border: 0;
        color: white !important;
        margin: 0 1em;
        padding: 0.25em 0.5em;
        width: fit-content;
        height: fit-content;
        border: 2.5px solid var(--light-green);
    }
}

@media all and (max-width: 1150px) {
    .imgAndTextContainer{        
        display: grid;
        grid-template-columns: none !important;
        width: 100% !important;
    }
    
    .detailsContainer{
        min-width: 100% !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .textContainer {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .positionCart {
        position: static;
    }

    .navbar ul {    
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 0.5em; 
    }

    .navbar li {        
        margin-right: 0.5em;
    }

    .navbar img {
        width: 13px !important;
    }

    .smallEnjoyContainer {
        padding: 1em 2em;
    }

    .purchaseContainer {
        padding: 0.5em 2em;
    }
}

/* Slider */
@media all and (max-width: 1100px) {
    .carousel-control-prev {
        left: -100px;
    }
    
    .carousel-control-next {
        right: -100px;
    }
}

@media all and (max-width: 825px) {
    .carousel-control-prev {
        left: -70px;
    }
    
    .carousel-control-next {
        right: -70px;
    }
}

@media all and (max-width: 600px) {
    .carousel-control-prev {
        left: -20px;
    }
    
    .carousel-control-next {
        right: -20px;
    }
}